{% extends "layout/base.html" %}
{% block content %}
<div class="d-flex justify-content-between align-items-center mb-4 border-bottom pb-2">
    <h3 class="m-0" style="color: var(--text-main); font-weight: 700;">New Questions</h3>
    <a href="{% url "questions:hot" %}" class="text-decoration-none" style="color: var(--accent-primary); font-weight: 500;">Hot Questions -></a>
</div>

<div class="question-list">
    {% if questions %}
        {% for question in questions %}
            {% include "questions/partials/question_preview.html" %}
        {% endfor %}
    {% else %}
        <p class="text-muted">Пока нет ни одного вопроса.</p>
    {% endif %}
</div>
{% include "questions/partials/pagination.html" %}
{% endblock %}
