{% extends "layout/base.html" %}
{% block content %}
<div class="d-flex justify-content-between align-items-center mb-4 border-bottom pb-2">
    <h3 class="m-0" style="color: var(--text-main); font-weight: 700;">Results for: {{ tag_name }}</h3>
</div>

<div class="question-list">
    {% if questions %}
        {% for question in questions %}
            {% include "questions/partials/question_preview.html" %}
        {% endfor %}
    {% else %}
        <p class="text-muted">По этому тегу пока нет вопросов.</p>
    {% endif %}
</div>
{% include "questions/partials/pagination.html" %}
{% endblock %}
