SECRET_KEY=your-secret-key-here
DEBUG=True

ALLOWED_HOSTS=localhost,127.0.0.1

POSTGRES_DB=vkedu_web
POSTGRES_USER=vkedu
POSTGRES_PASSWORD=vkedu
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_CACHE_DB=1
REDIS_BROKER_DB=2
REDIS_BEAT_DB=3

CENTRIFUGO_HOST=localhost
CENTRIFUGO_PORT=9000
CENTRIFUGO_API_KEY=change-me-centrifugo-api-key
CENTRIFUGO_TOKEN_KEY=change-me-centrifugo-token-key

EMAIL_HOST=127.0.0.1
EMAIL_PORT=1025
EMAIL_USE_TLS=False
DEFAULT_FROM_EMAIL=noreply@local.dev