.DS_Store
$RECYCLE.BIN/
.idea/
.vscode/
*.swp
*.swo
__pycache__/
*.so
venv/
env/
.env
.venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.sqlite3
db.sqlite3
*.log
local_settings.py
node_modules/
jspm_packages/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
dist/
out/
build/
.cache/
.parcel-cache/

